VITE_API_BASE_URL=http://127.0.0.1:3000
VITE_RPC_URL=https://avalanche-fuji.drpc.org
VITE_ZUS_PROTOCOL_ADDRESS=0xYourZusProtocolAddress
VITE_ZUS_VERIFIER_ADDRESS=0x2Ab7e6Bc7A69d0D37B43ea2f7374a12aC3f04CAB
VITE_ZUS_CAMPAIGN_MESSAGE=ZUSMVP01
VITE_ZUS_DEFAULT_PAYOUT_WEI=100000000000000
VITE_ZUS_DEFAULT_FUNDING_WEI=100000000000000
VITE_EXPLORER_BASE_URL=https://testnet.snowtrace.io/tx
